html
    head 
        link(rel="stylesheet", href="/style.css", data-inline)
    body
        table(width="100%" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; min-height: 100vh;")
            tr
                td(align="center")
                    table(cellpadding="0" cellspacing="0" style="background-color: #ffffff; border-radius: 0.5rem; border: 1px solid #f7f7f7ff; width: 700px; height: 100vh")
                        tr
                            
                            td(style="padding: 40px;")
                                div(style="text-align: center; margin-bottom: 30px;")
                                    img(src="https://cdn.truthcards.maxencelallemand.fr/assets/tc_logo.png" alt="Truth Cards" style="max-width: 150px; height: auto;")
                                
                                h1 Réinitialisation de ton mot de passe
                                p Bonjour #{name}
                                p Tu as demandé à réinitialiser ton mot de passe. <br> Clique sur le bouton ci-dessous pour en créer un nouveau :
                                a(class='btn' href=url) Réinitialiser mon mot de passe
                                
                                div
                                    p Ce lien est valable pendant 15 minutes et ne peut être utilisé qu’une seule fois.
                                    p Si tu n’es pas à l’origine de cette demande, tu peux simplement ignorer ce message, ton mot de passe actuel restera inchangé.
                                    br
                                    p À très bientôt ! 
                                    p L’équipe Truth Cards
                    div(style="background-color: #0080ff05; padding-top: 20px; border-top: 1px solid #e0e0e0; text-align: center; font-size: 12px; color: #666; width: 700px;")
                                    p(style="margin: 0; padding: 5px 0;") © Truth Cards
                                    p(style="margin: 0; padding: 5px 0;")
                                        a(href="#" style="color: #666; text-decoration: none; margin: 0 10px;") Politique de confidentialité
                                        | |
                                        a(href="#" style="color: #666; text-decoration: none; margin: 0 10px;") Conditions d'utilisation  
                                        | |
                                        a(href="#" style="color: #666; text-decoration: none; margin: 0 10px;") Contact