@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background-color: #F3F4F6;
    font-family: 'Geist', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: #0E715F;
}

.secondary {
    color: #898989;
}