@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Roboto', serif;
    color: white;
    background-color: #007FFF;
}

.secondary {
    color: #898989;
}